ul.pagination {
    margin:0 !important;
}

.home_menu_link {
    color:#636b6f;
}

.home_menu_link:hover {
    text-decoration:none;
}

.img-thumbnail {
    margin-right:10px;
    margin-bottom:10px;
    width:200px;
}
